<launch>
  <arg name="serial_nr" />
  <arg name="calib_file" default="$(find rpg_calib)/ncamera/bluefox_$(arg serial_nr)_pinhole.yaml"/>

  <node pkg="nodelet" type="nodelet" name="vo_nodelet_manager"  args="manager" output="screen"/>

  <!-- Camera driver -->
  <node pkg="nodelet" type="nodelet" name="camera" args="load bluefox_ros/BluefoxCameraNodelet vo_nodelet_manager" output="screen">
    <param name="serial_nr" value="$(arg serial_nr)" />
    <param name="fps" value="60" />
    <param name="gain" value="1.1" />
    <param name="exp_time" value="5000" />
    <param name="internal_exposure_control" value="false" />
  </node>

  <!-- SVO node -->
  <node pkg="nodelet" type="nodelet" name="svo" clear_params="true" args="load svo_ros/SvoNodelet vo_nodelet_manager" output="screen">

    <!-- Camera topic to subscribe to -->
    <param name="cam0_topic" value="camera/image_raw" type="str" />

    <!-- Camera calibration file -->
    <param name="calib_file" value="$(arg calib_file)" />

    <!--Parameters-->
    <rosparam file="$(find svo_ros)/param/pinhole.yaml" />

  </node>

  <!-- RVIZ + SVO GUI -->
  <node name="vis" pkg="rviz" type="rviz" args=" -d $(find svo_ros)/rviz_config.rviz" />
  <node name="svo_gui" pkg="rqt_gui" type="rqt_gui" args="-s rqt_svo.svo.Svo --args --topic svo" />

</launch>
